*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #202124;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Header */
header {
    height: 60px;
}

.navbar {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}

.navbar ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}

.navbar ul li {
    margin-left: 15px;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
}
link:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

.circle-shadow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-shadow:hover {
    background-color: rgb(255, 255, 255,0.2);
}
.menu-icon,
.user-icon span {
    font-size: 18px;
}

.user-icon span {
    color: white;
}

.user-icon {
    background-color: #009bef;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
/* Content */
.content-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}